Flask==1.1.2
Flask-Bootstrap==3.3.7.1
gunicorn==20.1.0
Jinja2==2.11.3
neo4j-driver==4.4.0
neo4jrestclient==2.1.1
numpy==1.19.4
pandas==1.1.5
py==1.10.0
py2neo==2021.2.3
uritemplate==3.0.1
virtualenv==20.0.18
Werkzeug==1.0.1